fastapi==0.115.12
uvicorn==0.34.0
starlette>=0.45.0,<0.47.0
pydantic>=2.10.6,<=2.12.0
requests
python-dotenv>=1.0.0,<2
openapi-core>=0.19.0
openapi_spec_validator==0.7.1
PyYAML>=6.0.3
typing-extensions>=4.12.0
json-repair>=0.30.0
numpy>=1.26.0,<=2.2
pandas>=2.2.0
tqdm>=4.66.0
pebble>=5.0.0
